<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ScriptViewer.Properties.Settings.s1design_debugConnectionString"
            connectionString="Data Source=CHANGAN;Initial Catalog=s1design_debug;Persist Security Info=True;User ID=sa;Password=ddd12345678"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>