<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown
          type="DataTableRemoting.RemotingInterface.RemotingSystem,DataTableRemoting"
          mode="Singleton"
          objectUri="RemotingSystem"/>
      </service>
      <channels>
        <channel
          ref="tcp"
          port="8989"
          displayName="TCP Channel(DataTableServer)">
          <serverProviders>
            <provider ref="soap" typeFilterLevel="Full" />
            <provider ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
        <channel
          ref="http"
          port="8979"
          displayName="HTTP Channel(DataTableServer)">
          <serverProviders>
            <provider ref="soap" typeFilterLevel="Full" />
            <provider ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
    <customErrors mode="Off"/>
  </system.runtime.remoting>
</configuration>