<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RemotingSystem" value="tcp://changan:9989/RemotingSystem" />
    <add key="port" value="9224" />
    <add key="tool" value="GameDesignerTool" />
    <add key="ToolVersion" value="1.1.0" />
    <add key="remoting" value="true" />
  </appSettings>
  <system.runtime.remoting>
    <application name="DataTableClient">
      <client displayName="DataTableClient">
        <wellknow
          type="DataTableClientLibrary.RemotingInterface.IRemotingSystem,DataTableClientLibrary"
          url="tcp://xiewenjie:9989/RemotingSystem"
          displayName="RemotingSysetm"/>
      </client>
      <serverProviders>
        <provider ref="soap" typeFilterLevel="Full" />
        <provider ref="binary" typeFilterLevel="Full" />
      </serverProviders>
      <channels>
        <channel
          ref="tcp"
          port="9224"/>
      </channels>
    </application>
  </system.runtime.remoting>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="3DProxy;Design;MicroSoft;Plugins;Utilities;Plugins\FlowChart;Plugins\Lua;Plugins\LuaCheck;Plugins\LuaDebug;Plugins\LuaEditor;Plugins\Office;Plugins\SPR;Plugins\TGA;Plugins\LuaCheck\Include;Plugins\LuaCheck\SpecCheck" />
    </assemblyBinding>
    <gcConcurrent enabled="true" />
  </runtime>
</configuration>