body { padding: 0px;background-color:#d4d0c8}
td {line-height:150%}
body.upload {margin:0px}

.imgButton {border:1px solid #f5f5f4;}
.imgButtonOver {border:1px solid #0A246A; background-color:#b6bdd2;cursor:hand;}
.imgButtonOut {border:1px solid #f5f5f4;}
.imgButtonDown {border:1px inset;}